{% load static %}
<html>
    <head>
        <title>CO2 Line chart</title>
        <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    </head>
    <body>
        <h1>Source CO2 rate data vs interpolated data</h1>
        <div style="height: 800px; width: 1000px;">
            <canvas id="myChart" width="500" height="400"></canvas>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "line_chart_json" %}', function(data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    new Chart(ctx, {
                        type: 'line', data: data
                    });
                });
            </script>
        </div>
        </body>
    </body>
</html>
